/* full page stuff */

#UniqueContainer {
    display: flex;
    justify-content: center;
}

/* contained div 1 */

#NavOptionsContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
    position: fixed;
    left: 50%;
}

    .NavOption{
        margin: 20px 0px;
        font-size: 40px;
    }

/* contained div 2 */

#Sidebar {
    display: flex;
    position: fixed;
    right: 50%;
    height: 100%;

    background-image: url(content/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
    #Greeting{
        display:table-caption;
        font-size: 100px;
        text-align: right;
        margin: 10px;
    }

    #GreetingImage{
        width: 100%;
    }