:root {
    --background: #524234;
    --text: #c0ab99;
    --selection: #8f786b;
    --a: rosybrown;
    --ahighlight: saddlebrown;
}

/* full page stuff */

html * {
    font-family: Vollkorn, serif;
    color: var(--text);
}

::selection {
    background: var(--selection);
}

a {
    text-decoration: none;
    color: var(--a);
}

    a:hover {
        color: var(--ahighlight);
    }

blockquote {
    font-style: italic;
    background: linear-gradient(to right, var(--quotecolor), rgba(0,0,0,0) 5%);
    padding: 5px 10px;
}

#Body {
    background: var(--background);
    padding: 0px;
    margin: 0px;
}

/* tooltips */

.ToolTip {
    position: relative;
    display: inline-block;
}

    .ToolTip .ToolTipBody {
        visibility: hidden;
        width: 500px;
        opacity: 0;
        background-color: saddlebrown;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        padding: 10px;
        bottom: -300%;
        right: 150%;
        margin-left: -60px;
        line-height: 15px;
        text-indent: 20px;
    }

    .ToolTip:hover .ToolTipBody {
        visibility: visible;
        opacity: 1;
        transition: 0.2s;
    }

/* media title */
#MediaTitle{
    display: flex;
}

/* page classes */

#Header{
    text-align: center;
}

