/* full page stuff */

html * {
    font-family: Vollkorn, serif;
    color: #c0ab99;
}

::selection {
    background: #8f786b;
}

a {
    text-decoration: none;
    color: rosybrown;
}

    a:hover {
        color: tan;
    }

#Body {
    background: #524234;
}

#MasterSection {
    margin: 30px;
    padding: 20px;
    background-color: #715a46;
}

/* page classes */

#Header{
    background: linear-gradient(to right, brown, tan);
    text-align: center;
}