/* Top part of the page */

#IndexHeading { /*inherits nothing from pagestyle #heading*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

#Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 90px;
}

#PMXimg{
    width: 70%;
}

#IndexHeadingBottom {
    display: flex;
    height: 10%;
    min-height: 130px;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(255,255,255,0), var(--background) 40%);
    position: absolute;
    bottom: -17px;
    justify-content: center;
    align-items: flex-start;
    transition: 0.2s;
}

    #IndexHeadingBottom:hover {
        height: 17%;
        cursor: pointer;
    }

#scrollicon {
    align-self: center;
    min-width: 100px;
    max-width: 200px;
    filter: drop-shadow( 0px 7px var(--highlight));
}

#newImage{
    position: absolute;
    right: 10px;
    bottom: 0px;
    opacity: 0.1;
}
    #newImage:hover{
        opacity: 0.5;
        cursor: pointer;
        user-select: none;
    }

/* sidenav */

.navbutton {
    cursor: pointer;
    margin: 15px 30px;
}

/* div that contains WhatsExceed and newsbox */

#BodyInfo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px){
    #BodyInfo{
        flex-direction: column;
        
    }
    .UniqueBody{
        padding: 70px !important;
    }
    #WhatsExceedBox{
        margin: 0px 10px !important;
        min-width: 450px;
    }
    #NewsBox{
        margin: 50px 100px !important;
        align-self: auto !important;
        min-width: 450px !important;
    }
}


/* What's Exceed? seller*/

#WhatsExceedBox {
    flex-basis: 70%;
    margin-left: 50px;
    background: var(--secondary);
    padding: 20px 30px;
    border: 1px solid var(--border);
}

#WhatsExceedTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(orange, rgba(0,0,0,0) 40%);
}
#whatisXFSlogo{
    width: 140px;
    padding-left: 10px;
}

.ExceedSeller {
    margin-bottom: 50px;
}

    .ExceedSeller h2 {
        font-size: 28px;
        margin: 0px;
        text-transform: uppercase;
        background-image: radial-gradient(var(--highlight), rgba(0, 0, 0, 0) 60%);
    }

.ExceedSeller p {
    text-align: left;
    margin-top: 10px;
}

.GamesList li {
    display: inline-flex;
    padding: 0px;
}

.GamesList img{
    height: 60px;
    margin: 5px;
}

.LinkList li{
    display: inline-flex;
    margin: 10px;
}

.LinkList:hover img{
    opacity: 0.5;
    transition: 0.2s;
}

.LinkList img{
    height: 50px;
    border: 1px solid var(--highlight);
    border-radius: 5px;
}

.LinkList img:hover{
    border: 1px solid var(--userinput);
    opacity: 1;
}

/* whole news box + footer*/

#NewsBox {
    overflow: auto;
    border: 2px solid;
    border-color: var(--highlight);
    border-radius: 4px;
    background: var(--secondary);
    margin: 50px;

    height: 100%;
    flex-basis: 30%;
    min-width: 300px;
    align-self: flex-start;
}

    #NewsBox h2 {
        background: var(--highlight);
        margin-top: 10px;
    }

hr {
    opacity: 0.5;
}

/* >> individual news entry*/

.NewsEntry{
    margin: 20px;
}

.NewsEntry h3{
    font-size: 25px;
    padding: 0px 0px;
    margin: 0px;
}

.NewsEntry h4 {
    padding: 0px;
    margin: 0px;
}

.NewsEntry p{
    text-indent: 40px;
    text-align: left;
    margin-top: 10px;
}

/* rest of the body */

#body{
}

.UniqueBody {
    padding: 50px 100px 50px;
    display: flex;
    flex-direction: column;
}

#FooterContents{
    background-color: var(--secondary) !important;
}