/* tooltip stuff, l99 tooltip is special */

#Level99{
    background-color: darkgoldenrod;
    width: 120px;
}

/* Top part of the page */

#IndexHeading { /*inherits nothing from pagestyle #heading*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vh;

    overflow: hidden;
}

#Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#PMXimg{
    width: 90%;
}

#BannerText{
    color: black;
}

#IndexHeadingBottom {
    display: flex;
    height: 10%;
    min-height: 100px;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(255,255,255,0), var(--background) 60%);
    position: absolute;
    bottom: -17px;
    justify-content: center;
    align-items: flex-start;
    transition: 0.2s;
}

    #IndexHeadingBottom:hover {
        height: 20%;
        min-height: 150px;
        cursor: pointer;
    }

    #scrollicon{
        align-self: center;
        min-width: 100px;
        width: 10%;
        max-width: 150px;
    }

#newImage{
    display: none;
    position: absolute;
    right: 10px;
    bottom: 0px;
    opacity: 0.1;
}
    #newImage:hover{
        opacity: 0.5;
        cursor: pointer;
        user-select: none;
    }

/* options */

#options {
    display: none;
    /*display: table;*/
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    background: var(--optionbackground);
}

.box {
    display: inline-block;
    width: 220px;
    font-weight: bold;
    font-size: 20px;
    color: var(--font);

    background-color: var(--optionbox);
    border: 1px solid var(--border);
    border-radius: 2px;
    margin: 4px 4px;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}
    .box p{
        text-align:center;
    }

    .box:hover {
        color: black;
        border: 1px solid turquoise;
        transition: 0.15s;
    }

#customsbutton, #communitybutton, #playersbutton {
    cursor: not-allowed !important;
    border: none;
    box-shadow: none !important;
    background-color: lightgray;
}

/* div that contains WhatsExceed and newsbox */

#BodyInfo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px){
    #BodyInfo{
        flex-direction: column;
        
    }
    .UniqueBody{
        padding: 70px !important;
    }
    #WhatsExceedBox{
        margin: 0px 10px !important;
        min-width: 450px;
    }
    #NewsBox{
        margin: 50px 100px !important;
        align-self: auto !important;
        min-width: 450px !important;
    }
}


/* What's Exceed? seller*/

#WhatsExceedBox {
    flex-basis: 70%;
    margin-left: 50px;
    background: var(--secondary);
    padding: 20px 30px;
}

#WhatsExceedTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(orange, rgba(0,0,0,0) 40%);
}
#whatisXFSlogo{
    width: 140px;
    padding-left: 10px;
}

.ExceedSeller {
    margin-bottom: 50px;
}

    .ExceedSeller h2 {
        margin: 0px;
        background-image: radial-gradient(orange, rgba(0, 0, 0, 0) 40%);
    }

.ExceedSeller p {
    text-align: left;
    margin-top: 10px;
}

.GamesList li {
    display: inline-flex;
    padding: 0px;
}

.GamesList img{
    height: 60px;
    margin: 5px;
}

.LinkList li{
    display: inline-flex;
    margin: 10px;
}

.LinkList:hover img{
    opacity: 0.5;
    transition: 0.2s;
}

.LinkList img{
    height: 50px;
    border: 1px solid var(--highlight);
    border-radius: 5px;
}

.LinkList img:hover{
    border: 1px solid var(--userinput);
    opacity: 1;
}

/* whole news box + footer*/

#NewsBox {
    overflow: auto;
    border: solid;
    border-color: var(--highlight);
    border-radius: 4px;
    background: var(--secondary);
    margin: 50px;

    height: 100%;
    flex-basis: 30%;
    min-width: 300px;
    align-self: flex-start;
}

    #NewsBox h2 {
        background: orange;
    }

hr {
    opacity: 0.5;
}

/* >> individual news entry*/

.NewsEntry{
    margin: 20px;
}

.NewsEntry h3{
    font-size: 25px;
    padding: 0px 0px;
    margin: 0px;
}

.NewsEntry h4 {
    padding: 0px;
    margin: 0px;
}

.NewsEntry p{
    text-indent: 40px;
    text-align: left;
    margin-top: 10px;
}

/* rest of the body */

#body{
}

.UniqueBody {
    padding: 70px 100px 50px;
    display: flex;
    flex-direction: column;
}

#BodySplash{
    margin-top: 40px;
    padding: 5px;
    text-align: center;
    background: linear-gradient(to bottom left, var(--highlight), brown);
    font-weight: bold;
    letter-spacing: 2px;
}

#FooterContents{
    background-color: var(--secondary) !important;
}