:root {
    /* page colors */
    --highlight: orange;
    --highlightsecondary: antiquewhite;
    --secondary: white;
    --tertiary: gray;
    --background: whitesmoke;
    --border: lightgray;
    /* text colors */
    --text: #3c3c3c;
    --link: darkcyan;
    --userinput: #5CC2B8;
    --tooltiptext: white;
    --selection: #abe4d8;
    /*two colors used in the background image gradient*/
    --gradient1: rgba(150,50,40,0.9);
    --gradient2: rgba(255,192,46,0.9);
    /* special colors */
    --level99: #69d061;
    --imageframe: rgb(240,240,240);
    /* page specific*/
    --winner: #ffcd77;
}
