/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

/* this sheet applies to all pages. only exception is index. */

html *{
    font-family: Vollkorn, serif;
}

::selection {
    background: #abe4d8;
}

a {
    text-decoration: none;
    color: #44a490;
}

/* Top of the page */

#Heading {
    color: black;
    background: radial-gradient(#ff460f, #fee567 90%);
    text-align: center;
    font-size: 30px;
}

/* side nav bar */

#SideNavBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    align-content: center;
    width: 200px;
    height: 100%;
    background: black;
}

/* tooltips */

.ToolTip {
    position: relative;
    display: inline-block;
}

.ToolTip .ToolTipText {
    visibility: hidden;
    width: 100px;
    opacity: 0;
    background-color: darkcyan;
    color: white;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    z-index: 1;

    padding: 5px 0;
    bottom: 60px;
    left: 62%;
    margin-left: -60px;
}

.ToolTip:hover .ToolTipText {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

/* Character names and accompanying icons */

.CharName{
}

.CharIcon {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 5px;
}

/* Other stuff */

#Body {
    margin-left: 50px;
    margin-right: 100px;
}

footer{
    text-align: center;
}