#SearchBar { /*div that contains everything else*/
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    background: var(--secondary);
    border-bottom: 1px solid gray;
    box-shadow: 0px 6px 5px rgba(0,0,0,0.2);
}

    #SearchBar img {
        display: inline-block;
        vertical-align: middle;
    }

#StyleButton {
    background-color: var(--secondary);
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

    #StyleButton:hover{
        border: 1px solid var(--userinput);
    }

#CatagorySelect{
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

    #CatagorySelect:hover{
        border: 1px solid var(--userinput);
    }

    #CatagorySelect #ShowAll{
        font-style: italic;
    }

#SearchInfo .ToolTipText { /* special alteration to tooltiptext for search info tooltip. make this work upside down */
    width: 500px;
    bottom: 60%;
    left: -500%;
}

.SearchSection{
    display: flex;
}

.SearchInputContainer{
    display: flex;
    width: 100%;
    margin: 0px;
    align-items: center;
    position: relative;
}

.SearchInput {
    padding: 5px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 2px;
    width: 100%;
}

    .SearchInput:focus {
        outline: none;
        border: 2px solid var(--userinput);
    }

.ClearSearchInput {
    position: absolute;
    right: 10px;
    border: 1px solid var(--border);
    background-color: rgba(0,0,0,0);
}
    .ClearSearchInput:hover{
        border: 1px solid var(--userinput);
        background-color: rgba(0,0,0,0);
    }

    .ClearSearchInput p{
        margin: 0px;
    }