@font-face{
    font-family:'MKX Title';
    src:url(content/fonts/MKX_Title.tff)
}

#Banner {
    text-align: center;
    background-image: linear-gradient(to bottom right, #ebda66, #dc9471);
    padding: 10px;
}

#Heading {
    color: #ee5c29;
    text-align: center;
    font-family:'MKX Title'
}

#Body {
    text-align: center;
}

#options {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.box {
    display: table-cell;
    background-color: antiquewhite;
    width: 150px;
    padding: 5px;
    text-align: center;
    border: outset;
}

p{
    font-family:Vollkorn, serif;
}

footer{
    text-align: center;
}