/* full page stuff */

@font-face{
    font-family:'MKX Title';
    src:url(content/fonts/MKX_Title.tff)
}

html * {
    font-family: Vollkorn, serif;
}

::selection {
    background: #abe4d8;
}

/* Top part of the page */

#Heading {
    color: #ee5c29;
    text-align: center;
    font-size: 25px;
}

#Banner {
    text-align: center;
    background-image: linear-gradient(to bottom right, #ebda66, #dc9471);
    padding: 10px;
}

/* options */

#options {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

.box {
    background-color: #ee5c29;
    border: none;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: 200px;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

/* text beneath the options */

#Body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#NewsBox{
    overflow: auto;
    width: 800px;
    background-color: antiquewhite;
    border: solid;
    border-radius: 2px;
    margin: 50px;
}

footer > div{
    font-size: 10px;
    text-align: center;
    margin: 0px;
}

