/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

.UniqueBody{
    min-height: 100vh;
}

#ChoiceContainer {
    display: block;
    margin: 40px 40px;
    text-align: center;
}

/* individual choices */

@media screen and (max-width: 700px){

    .Choice{
        width: 90% !important;
    }
}

@media screen and (min-width: 701px) and (max-width: 1150px){

    .Choice {
        width: 47% !important;
    }
}

@media screen and (min-width: 1151px) and (max-width: 1600px) {

    .Choice {
        width: 31% !important;
    }
}

.Choice {
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--border);
    background: var(--secondary);
    margin: 6px;
    width: 23%;
}

    .Choice:hover{
        border: 2px solid var(--userinput);
    }

    .Choice .CharacterLabel{
        font-size: 150%;
    }

.ChoiceTitle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    height: auto;
}

    .Player{
        margin: 10px;
        display: flex;
        flex-direction: column !important;
        align-content: flex-start;
    }

    .Player .CharIcon{
        margin: auto;
    }

    .Player .CharacterLabel{
        margin-top: 3px;
        line-height: 90%;
    }

    .PlayerName{
        margin: 0px;
        font-size: 80%;
    }

    .WinnerIcon {
        margin: 0px;
        background-image: radial-gradient(orange, rgba(0,0,0,0) 40%);
        font-weight: bold;
    }

    .vs{
        margin: auto 0px;
    }

.ChoiceBody{
    padding: 5px;
}

    .Tournament {
       margin: 0px;
    }

    .Video {
      margin: 0px;
      font-size: 80%;
    }




.ChoiceBodyDetails{
    display: flex;
    justify-content: center;
    margin: 0px;
}

    .ChoiceBodyDetails p{
        margin: 0px 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 80%;
    }