/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

.UniqueBody{
    min-height: 100vh;
}

#ChoiceContainer {
    display: block;
    margin: 40px 40px;
    text-align: center;
}

/* individual choices */

.Choice {
    text-decoration: none;
    border: 2px solid var(--border);
    background: var(--secondary);
    margin: 6px;
    min-width: 500px;
}

    .Choice:hover{
        border: 2px solid var(--userinput);
    }

    .Choice .CharacterLabel{
        font-size: 150%;
    }

    .Choice a{
        display: flex;
    }

.ChoiceTitle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    flex-basis: 50%;
}

    .Player{
        margin: 10px;
        display: flex;
        flex-direction: column !important;
        align-content: flex-start;
    }

    .Player .CharIcon{
        margin: auto;
    }

    .Player .CharacterLabel{
        margin-top: 3px;
        line-height: 90%;
    }

    .PlayerName{
        margin: 0px;
        font-size: 80%;
    }

    .WinnerIcon {
        margin: 0px;
        background-image: radial-gradient(orange, rgba(0,0,0,0) 40%);
        font-weight: bold;
        display: none;
    }

    .vs{
        margin: auto 0px;
    }

.ChoiceBody{
    font-size: 80%;
    padding-bottom: 5px;
    margin: auto 5px;
}

    .Tournament {
       margin: 0px;
    }

    .Video {
      margin: 0px;
    }

.ChoiceBodyDetails{
    display: flex;
    justify-content: center;
    margin: 0px;
}

    .ChoiceBodyDetails p{
        margin: 0px 10px;
        font-family: 'Times New Roman', Times, serif;
    }