/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

#ChoiceContainer {
    display: block;
    margin: 40px 20px;
    text-align: center;
}

/* individual choices */

.Choice {
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--border);
    background: var(--secondary);
    margin: 6px;
    width: 500px;
}

    .Choice:hover{
        border: 2px solid var(--userinput);
    }

    .Choice .CharacterLabel{
        font-size: 150%;
    }

.ChoiceTitle{
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 120px;
}

    .Player{
        margin: 10px;
    }

    .PlayerName{
        margin: 2px;
        font-size: 80%;
    }

    .WinnerIcon {
        margin: 0px;
        background-image: radial-gradient(orange, rgba(0,0,0,0) 40%);
        font-weight: bold;
    }

    .vs{
        margin: auto;
    }

.ChoiceBody{
    margin: 0px;
}

    .Tournament{
        margin: 0px;
    }

.ChoiceBodyDetails{
    display: flex;
    justify-content: center;
    margin: 5px;
}

    .ChoiceBodyDetails p{
        margin: 0px 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 80%;
    }