/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

#Heading{
    background-color: var(--highlight);
}

.TextBody{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* selectors */

#SelectorSection{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}

.SelectorOpener{
    color: blue;
}

.SelectorContainer{
    justify-content: center;
}

.CharacterSelector{
    position: absolute;
    border: 1px solid black;
    background-color: antiquewhite;
}

/* inside the selector divs */

.CharacterSeason{
    margin: 0px;
}

.CharacterChoice{
    margin: 10px;
}