/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

#Heading{
    background-color: var(--highlight);
}

.TextBody{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#SearchBar{
    flex-direction: column;
    display: flex;
}

/* dropdown character selectors */

#SelectorSection{
    display: flex;
    justify-content: space-around;
}

.SelectorOpener{

    user-select: none;
    cursor: pointer;
}

    .selected{ /* opener given this class while a character is selected */
        font-weight: bold;
        margin: 10px;
    }

.SelectorContainer{
    justify-content: center;
    display: flex;
    position: relative;
    width: 600px;
}

.CharacterSelector {
    position: absolute;
    top: 90%;
    display: none;
    flex-direction: column;
    border: 1px solid gray;
    background-color: var(--secondary);
    max-height: 50vh;
    min-height: 300px;
    width: 240px;
    overflow: scroll;
    z-index: 40;
}

/* content inside the selector divs */

.SearchInputContainer{

}

.CharacterSeason{
    margin: 0px;
}

    .CharacterSeason h2{
        margin: auto;
        text-align: center;
        text-decoration: underline;
    }

.CharacterChoice {
    width: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
}

    .CharacterChoice:hover{
        background-color: lightgray;
    }

.CharacterLabel{
    margin: 0px;
    line-height: 70%;
}

#LowerSelectorSection{
    display: flex;
    margin: auto;
}

    #SpoilerCheckboxContainer{
        display: flex;
        margin-left: 5px;
    }
    
    #SpoilerCheckboxContainer label{
        margin: auto 0px;
        user-select: none;
    }