/* full page stuff */

:root {
    /* side bar.. side */
    --sidebarbackground: #503e2f;
    /* blog side */
    --blogbackground: #715a46;
    --quotecolor: #8d7366;
    --quotecolorsecond: tan;
    /* specific colors */
    --musingtitle: #a97656;
    --quotetitle: #9f7f5c;
    /* text stuff */
    --currentpage:;
    /*other*/
    --mediaframe: #8d7366;
}