/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

/* div that contains uniquecontainers AND class-level rules for those uniquecontainers */

.UniqueBody{
}

.ChoiceContainer{
    margin: 20px;
}

.Choice{
    background-color: var(--secondary);
    border: 1px solid var(--border);
    padding: 10px;
    margin: 0px;
}

    .ChoiceHead{
        margin: 0px;
    }
        .ChoiceHead h3{
            margin: 0px;
        }
        .ChoiceHead h4{
            margin: 0px;
        }

    .ChoiceBody{
        margin: 0px;
    }
        .ChoiceBody p{
            margin: 0px;
        }