.blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Example: Two columns */
    gap: 20px;
}

.blog-entry {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    max-width: 5px;
    padding: 20px;
}
