/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

/* div that contains uniquecontainers AND class-level rules for those uniquecontainers */
/* a ton of this is probably vestigal. clean this up */

#UniqueBody{ /* father of all unique content */
    
}

#ChoiceUniqueContainer{ /* contains all blog stuff */
}

.ChoiceContainer{
    display: flex;
    flex-direction: column;
    margin-left: 80px;

    background-color: lightgray;
    border: 4px double gray;
    border-radius: 4px;
}

