/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

/* divs that contain uniquecontainers AND class-level rules for those uniquecontainers */

.UniqueBody{ /* father of all unique content */
    display: flex;
    padding: 50px 100px;
}

.UniqueContainer { /*both choiceuniquecontainer and timelineuniquecontainer have this class */
    margin: 5px;
}

/* >>> left side blog content */
#ChoiceUniqueContainer { /* contains all blog stuff */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 150%;
    background-color: var(--secondary);
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
}

.ChoiceSectionTitle{
    text-align: center;
}

/* individual choice settings */

.ChoiceContainer{
}

.Choice{ /* whole individual blog post entry */
}

.BlogContents{ /* contains all blog text */
    margin: 0px 20px;
}

    .BlogEntryTitle h3{
        margin: 0px;
        font-size: 25px;
        line-height: 27px;
    }

    .BlogEntryTitle h4{
        margin: 0px;
        text-indent: 40px;
    }

    .BlogEntryBody p{
        text-indent: 30px;
    }

    .jumplink{ /*"read more..." links*/
    }

.Choice hr {
    margin: 30px 0px;
}

/* >>> right side timeline */
#TimelineUniqueContainer{ /*contains all timeline stuff*/
    flex-basis: 50%;
}

#Timeline{
    background-color: var(--tertiary);
    border: 1px solid gray;
    border-radius: 2px;
    padding: 5px;
}

.MonthTitle{
    margin: 0px;
}

.MonthEntry{
    margin-bottom: 10px;
    font-size: 10px;
    padding-left: 20px;
}