/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

/* this sheet applies to all pages, though pages also have their own specialized sheet. */

html *{
    font-family: Vollkorn, serif;
}

::selection {
    background: #abe4d8;
}

a {
    text-decoration: none;
    color: #44a490;
}

a:hover {
    color: turquoise;
}

/* Top of the page */

#Heading {
    text-align: center;
    font-size: 30px;

    background: radial-gradient(orange 50%, rgba(0,0,0,0));
}

/* side nav bar*/

#SideBarOpener{
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 2;
    background: linear-gradient(to right, antiquewhite 60%, rgba(0,0,0,0));
    border: none;

    opacity: 0.4;
}

#SideBarOpener img{
    width: 30px;
}

#SideBarOpener:hover{
    opacity: 1;

    transition: 0.05s;
    cursor: pointer;
}

#SideBar { /* parent container that hides & holds actual sidebar. real styling is in sidebarstyle.css */
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;

    align-content: center;
    width: 0px;
    height: 100%;
    background-color: antiquewhite;
    transition: 0.05s;
}

#CurrentPage{
    color: gray;
}

/* tooltips */

.ToolTip {
    position: relative;
    display: inline-block;
}

.ToolTip .ToolTipText {
    visibility: hidden;
    width: 100px;
    opacity: 0;
    background-color: darkcyan;
    color: white;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    z-index: 1;

    padding: 5px 0;
    bottom: 60px;
    left: 62%;
    margin-left: -60px;
}

.ToolTip:hover .ToolTipText {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

/* Character names and accompanying icons */

.CharName{
}

.CharIcon {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 5px;
}

/* Other stuff */

.Body {
    padding: 10px 50px;
}

.UniqueBody{
    /* dont put anything here. uniquebody rules should be in the page's sheet
       since what they contain is unique to that page */
}

footer{
    text-align: center;
}