#SearchBar {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    background: antiquewhite;
    border: 1px solid gray;
}

    #SearchBar img {
        display: inline-block;
        vertical-align: middle;
    }

#StyleButton {
    width: 70px;
}

#SearchInfo .ToolTipText { /* special alteration to tooltiptext for search info tooltip*/
    width: 500px;
    bottom: 60%;
    left: -500%;
}

#SearchInput {
    padding: 5px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 2px;
}

    #SearchInput:focus {
        outline: none;
        border: 2px solid turquoise;
    }

.sticky{ /* this class is applied by search.js to make it sticky, is not on by default */
    position: fixed;
    padding: 3px 0px !important;
    top: 0;
    z-index: 1;

    transition: 0.2s;
}

.sticky + .UniqueBody{
    margin-top: 100px;
}