/* full page stuff */

#SideBar{
    z-index: 3;
}

#SideBarCloser{
    margin-bottom: 20px;
}

#SideBarContents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    height: 50%;
    width: 100px;
    background-color: antiquewhite;
}

#SideBarContents a{
    margin: 5px 0px;
    line-height: 20px;
}

#CurrentPage{
    cursor: default;
}