/* full page stuff */

#SideBar{
    z-index: 3;
}

#SideBarCloser{

}

#SideBarContents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    height: 80%;
    width: 100px;
    background-color: antiquewhite;
}

#CurrentPage{
    cursor: default;
}