/* side bar opener */

#SideNavOpener {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 96;
    background: rgba(0,0,0,0);
    border: none;
    opacity: 0.4;
}

    #SideNavOpener img {
        width: 30px;
    }

    #SideNavOpener:hover {
        opacity: 1;
        transition: 0.05s;
        cursor: pointer;
    }

#SideNav {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    align-content: center;
    width: 0px;
    height: 100%;
    background-color: antiquewhite;
    transition: 0.05s;
}

#CurrentPage {
    color: gray;
}


/* full page stuff */

#SideNav{
    z-index: 97;
}

#SideNavCloser{
    margin-bottom: 20px;
    background-color: turquoise;
    border: 0px;
}

#SideNavContents {
    display: flex;
    flex-direction: column;
    padding: 20px;

    height: 50px;
    width: 130px;
    background-color: antiquewhite;
}

#SideNavContents a{
    margin: 10px 0px;
    line-height: 18px;
}

#CurrentPage{
    cursor: default;
}

/* bottom stuff */

#BottomContents{
    margin: 0px;
    overflow: hidden;
}

    #BottomContents img {
        position: absolute;
        bottom: 0;
        left: -120%;
        background: linear-gradient(to top, orange 80%, rgba(0,0,0,0));
        height: 600px;
        opacity: 0.4;
    }