/* tooltip stuff, l99 tooltip is special */

#Level99{
    background-color: darkgoldenrod;
    width: 120px;
}

/* Top part of the page */

#Heading {
    display: flex;
    justify-content: center;
    flex-direction: column;

    border-bottom: 1px solid gray;
    filter: drop-shadow(0 0 1rem antiquewhite);
    background: antiquewhite;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

#Banner {
    text-align: center;

    padding: 20px;
}

/* options */

#options {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;

}

.box {
    display: inline-block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: darkorange;
    border-radius: 2px;
    margin: 4px 4px;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

    .box:hover {
        color: white !important;
        background-color: orange;
        transition: 0.15s;
    }

#customsbutton, #communitybutton, #playersbutton, #blogbutton {
    cursor: not-allowed !important;
    border: none;
    box-shadow: none !important;
    background-color: lightgray;
}

/* div that contains WhatsExceed and newsbox */

#BodyInfo {
    text-align: center;
    display: flex;

    justify-content: space-between;
}

@media screen and (max-width: 1000px){
    #BodyInfo{
        display: block;
    }
}


/* What's Exceed? seller*/

#WhatsExceedBox {
    flex-basis: 70%;
    margin-left: 50px;
}

.ExceedSeller {
    margin-bottom: 50px;
}

    .ExceedSeller h2 {
        margin: 0px;
        background-image: radial-gradient(orange, rgba(0, 0, 0, 0) 40%);
    }

.ExceedSeller p {
    text-align: left;
    margin-top: 10px;
}

.GamesList li {
    display: inline-flex;
    padding: 0px;
}

.GamesList img{
    height: 60px;
    margin: 5px;
}

.LinkList li{
    display: inline-flex;
    margin: 10px;
}

.LinkList:hover img{
    opacity: 0.5;
    transition: 0.2s;
}

.LinkList img{
    height: 50px;
    border: 1px solid orange;
    border-radius: 5px;
}

.LinkList img:hover{
    border: 1px solid turquoise;
    opacity: 1;
}

/* whole news box + footer*/

#NewsBox {
    overflow: auto;
    border: solid;
    border-color: orange;
    border-radius: 4px;
    margin: 50px;

    flex-basis: 30%;
    height: 50%;
    min-width: 300px;
}

    #NewsBox h2 {
        background: radial-gradient(#ff460f, #fee567 90%);
    }

/* >> individual news entry*/

.NewsEntry{
    margin: 20px;
}

.NewsEntry h3{
    font-size: 25px;
    padding: 0px 0px;
    margin: 0px;
}

.NewsEntry h4 {
    padding: 0px;
    margin: 0px;
}

.NewsEntry p{
    text-indent: 40px;
    text-align: left;
    margin-top: 10px;
}

/* rest of the body */

#BodySplash{
    margin: 0px;
    text-align: center;
}

/* FOOTER */

#FooterContents{
    font-size: 10px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background: antiquewhite;
}

