/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

/* this document is for specific blog entry pages (ie. wheres-s7?). the actual blog main.html uses blogstyle.css */

#Heading{
    background: linear-gradient(to bottom right, var(--highlight), var(--highlightsecondary));
    color: white;
    width: 100%;
}

#body{
    background-color: var(--background);
}

.TextBody{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.UniqueBody {
    display: flex;
    justify-content: center;
    padding: 60px 100px;
}

.UniqueContainer{
    padding: 20px;
    background-color: var(--secondary);
    
    min-width: 500px;
    max-width: 800px;
}

/* section seperator */

.EntrySeperator {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

    .EntrySeperator p {
        margin: 0px;
        align-self: end;
        font-family: 'Times New Roman';
        font-size: 12px;
    }

    .EntrySeperator hr {
        color: var(--background);
        margin: 0px;
    }

/* each entry on this page */

.BlogEntry{
    margin: 40px;
}

.BlogEntryTitle h3{
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.BlogEntryTitle h4{
    padding: 0px;
    margin: 0px;
    text-indent: 30px;
}

.BlogEntryBody{
    margin-left: 30px;
}
    .BlogEntryBody p{
        text-indent: 30px;
    }

.hidden{
    display: none !important;
}