/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

/* divs that contain uniquecontainers AND class-level rules for those uniquecontainers */

.UniqueBody{ /* father of all unique content */
    display: flex;
    padding: 0px 100px;
    justify-content: center;
}

.UniqueContainer { /*both choiceuniquecontainer and timelineuniquecontainer have this class */
    margin: 0px 5px 50px;
}

/* >>> left side blog content */
#ChoiceUniqueContainer { /* contains all blog stuff */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 150%;
    background-color: var(--secondary);
    border-radius: 4px;
    padding: 20px 0px;
    min-width: 400px;
    max-width: 800px;
}

.ChoiceSectionTitle{
    text-align: center;
}

.Pinned{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
}
    .Pinned > a:hover{
        color: var(--highlight);
    }

/* settings for all choices */

.ChoiceContainer{
}

.Choice { /* whole individual blog post entry */
}

.BlogContents{ /* contains all blog text */

}

.BlogEntryTitle{
    background: var(--tertiary);
    padding: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

    .BlogEntryTitle h3{
        margin: 0px;
        font-size: 25px;
        line-height: 27px;
    }

    .BlogEntryTitle h4{
        margin: 0px;
        text-indent: 40px;
    }

    .BlogEntryBody{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 40px
    }

        .BlogEntryBody p{
            align-self: flex-start;
            text-indent: 30px;
            margin: 5px;
        }
        .BlogEntryBody blockquote{
            align-self: flex-start;
        }

    .jumplink{ /*"read more..." links*/
        margin: 10px;
        font-weight: bold;
        text-align: center;
        align-items: center;
    }

.EntrySeperator {
    display: flex;
    flex-direction: column;
    margin: 30px 20px 40px;
}
    .EntrySeperator p {
        margin: 0px;
        align-self: end;
        font-family: 'Times New Roman'; 
        font-size: 14px;
        letter-spacing: 2px;
    }
    .EntrySeperator hr{
        color: var(--background);
        margin: 0px;
    }

.EntryImage{
    align-self: center;
    margin: 10px;
    width: 80%;
    border: 10px solid var(--imageframe);
}

/* settings for specific choices */
.GGST{
    background: linear-gradient(to bottom right, red, orange);
}
    .GGST > *{
        color: white !important;
    }

/* >>> right side timeline */
#TimelineUniqueContainer{ /*contains all timeline stuff*/
    flex-basis: 50%;
    max-width: 300px;
    padding-top: 30px;
}

.SideEntry {
    padding: 5px;
    margin-top: 30px;
    border: 1px solid gray;
    border-radius: 2px;
}

#Timeline{
    background-color: var(--secondary);

    padding: 5px;
}

.MonthTitle{
    margin: 0px;
}

.MonthEntry{
    margin-bottom: 12px;
    font-size: 10px;
    padding-left: 20px;
    line-height: 10px;
}