/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

:root {
    --highlight: gray;
    --highlightsecondary: antiquewhite;
    --secondary: white;
    --tertiary: gray;
    --border: lightgray;

    --text: black;
    --link: darkcyan;
    --userinput: turquoise;
    --selection: skyblue;

    --background: whitesmoke;
}