@media screen and (max-width: 800px){
    #MasterSection{
        flex-direction: column-reverse;
    }
    #SidebarSection{
        max-width: 100% !important;
        width: 100%;
    }
}

/* full page stuff */
#MasterSection {
    display: flex;
    justify-content: center;
}

.Media{
    display: flex;
    background-color: var(--mediaframe);
    width: fit-content;
    padding: 4px;
    align-self: center;
}
.MediaTitle {
    display: flex;
    align-self: center;
}

/* sidebar side */

#SidebarSection{
    width: fit-content;
    max-width: 30%;
}

.SidebarPanel {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background: var(--sidebarbackground);
    padding: 15px;
}



/* blog side */

#BlogSection {
    margin: 30px;
    padding: 20px;
    background-color: var(--blogbackground);
    flex-basis: 60%;
}

/* >>>>>>>>> entries */
.BlogEntry{
    margin-bottom: 60px;
}

/* top of entry */

.BlogEntryHeader {
    margin-bottom: -20px;
}

.BlogEntryTitle {
    color: var(--entrytitle);
    line-height: 40px;
    margin: 0px;
    font-size: 55px;
}

.BlogEntryFluff {
    margin: 0px;
    font-size: 8px;
    font-family: 'Times New Roman', Times, serif !important;
    position: relative;
    top: -25px;
}

.BlogEntryDate {
    margin: 0px;
    position: relative;
    top: -19px;

}

/* actual contents */

.BlogEntryContents{
    line-height: 20px;
    padding: 0px 30px;
}

.BlogEntryContents p{
    text-indent: 40px;
}