

/* full page stuff */
#MasterSection {
    display: flex;
}

/* sidebar side */

#SidebarSection {
    margin: 30px;
    flex-basis: 30%;
    background: var(--sidebarbackground);
    padding: 20px;
    height: 100%;
}

/* blog side */

#BlogSection {
    margin: 30px;
    margin-right: 0px;
    padding: 20px;
    background-color: var(--blogbackground);
    flex-basis: 70%;
}

/* >>>>>>>>> entries */
.BlogEntry{
    margin-bottom: 60px;
}

/* top of entry */

.BlogEntryHeader {
    margin-bottom: -20px;
}

.BlogEntryTitle {
    color: var(--entrytitle);
    line-height: 40px;
    margin: 0px;
    font-size: 50px;
}

.BlogEntryFluff {
    margin: 0px;
    font-size: 8px;
    font-family: 'Times New Roman', Times, serif !important;
    position: relative;
    top: -25px;
}

.BlogEntryDate {
    margin: 0px;
    position: relative;
    top: -20px;

}

/* actual contents */

.BlogEntryContents{
    line-height: 20px;
    padding: 0px 30px;
}

.BlogEntryContents p{
    text-indent: 40px;
}