/* tooltip + media are paired up using class name "song-songname".
    the tooltip has an ID "songname-tooltip" so it can be individually 
    styled on this sheet.
*/

.tooltipfluff{
    position: absolute;
    bottom: 5px;
    right: 3px;

    text-align: right;
    margin: 0px;
    opacity: 0.2;
}

    .tooltipfluff-songtitle{
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        font-size: 20px;
        line-height: 15px;
    }

    .tooltipfluff-date {
        margin: 0px;
        padding: 0px;
    }

#tooltip-50off {
    width: 500px;
    background-color: tan;
    border-radius: 6px;
    padding: 5px;
    bottom: -270%;
    right: 150%;
    margin-left: -60px;
    line-height: 15px;
    text-indent: 20px;
    align-self: flex-end;
}
    #tooltip-50off > p{
        color:saddlebrown;
    }

#tooltip-mhw{
    width: 400px;
    background-color: tan;
    border-radius: 6px;
    padding: 5px;
    text-indent: 20px;
    align-self: flex-end;
    bottom: -210%;
    right: 150%;
    margin-left: -60px;
}
    #tooltip-mhw p{
        color: saddlebrown;
        line-height: 15px;
    }

#tooltip-onesmallstep {
    width: 500px;
    background-color: tan;
    border-radius: 6px;
    padding: 5px;
    text-indent: 20px;
    align-self: flex-end;
    bottom: -400%;
    right: 150%;
    margin-left: -60px;
}

    #tooltip-onesmallstep p {
        color: saddlebrown;
        line-height: 15px;
    }