/* tooltip + media are paired up using class name "song-songname".
    the tooltip has an ID "songname-tooltip" so it can be individually 
    styled on this sheet.
*/

.tooltipfluff{
    position: absolute;
    bottom: 5px;
    right: 3px;

    text-align: right;
    margin: 0px;
    opacity: 0.2;
}

    .tooltipfluff-songtitle{
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        font-size: 20px;
        line-height: 15px;
    }

    .tooltipfluff-date {
        margin: 0px;
        padding: 0px;
    }

.ToolTipBody{
    background-color: tan;
    border-radius: 6px;
    text-indent: 20px;
    padding: 5px;
    align-self: flex-end;
}

.ToolTipBody > p{
    color: saddlebrown;
    line-height: 15px;
}

/* specific tooltip adjustments */

#tooltip-insideout {
    width: 500px;
    bottom: -190%;
    right: 150%;
}

#tooltip-cocktail{
    width: 400px;
    bottom: -190%;

    right: 150%;
}

#tooltip-50off {
    width: 500px;
    bottom: -270%;
    right: 150%;
    margin-left: -60px;
}

#tooltip-mhw{
    width: 400px;
    bottom: -210%;
    right: 150%;
    margin-left: -60px;
}

#tooltip-onesmallstep {
    width: 500px;
    bottom: -400%;
    right: 150%;
    margin-left: -60px;
}