/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

/* div that contains uniquecontainers AND class-level rules for those uniquecontainers */
/* a ton of this is probably vestigal. clean this up */

.UniqueBody {
    display: flex;
}

@media screen and (max-width: 1100px) { /*collapses at smaller window size */
    .UniqueBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ChoiceContainer{
        margin: 0px 40px !important;
    }
    #SideBarUniqueContainer{
        display: grid !important;
        margin: 20px 50px !important;
        max-width: 100% !important;
    }
}

.UniqueContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#ChoiceUniqueContainer {
    flex-wrap: wrap;
    flex-basis: 150%;
}


/* >>>> Choice Container Options*/

.ChoiceContainer {
    display: grid;
    grid-gap: 0px;
    margin: 0px 10px 0px 140px;
}

.ChoiceSectionTitle {
    position: sticky;
    top: 64px;
    text-indent: 100px;
    background-image: linear-gradient(to right, var(--highlight) 50%, rgba(0,0,0,0));
    z-index: 49;
}


/* individual choice container settings*/

.Choice {
    display: block;
    text-decoration: none;
    background: var(--secondary);
    border-bottom: 1px solid var(--border);
    padding: 0px;
    min-width: 600px;
}

    .Choice:hover {
        border-bottom: 1px solid var(--userinput) !important;
        box-shadow: 3px -1px 0px 0px var(--userinput) inset !important;
        transition: 0.10s;
    }

        .Choice:hover h3 {
            margin-left: 5px;
            transition: 0.10s;
        }

.ChoiceBodyContainer {
    display: flex;
    position: relative;
}

/* ----  head of each choice*/

.ChoiceHead{ /*div containing title, picture and timestamp */
    display: flex;
}

.ChoiceHead p{ /*timestamp for videos*/
    display: none;
}

.Choice h3 { /*title of each choice*/
    text-indent: 5px;
    font-size: 20px;
    margin: 2px 0px;
    z-index: 2;
}

.CharIcon{
    border: none;
    margin: 0px 5px;
}

.Choice h4{ /*author or subtitle*/
    position: relative;
    top: 25%;
    left: 5%;
    font-weight: normal;
    font-size: 15px;
    margin: 0px;
}

/* ------- body of each choice */

.ChoiceBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}

.ChoiceBody p{ /*text description of each choice*/
    display: none;
}

/* sidebar settings */

#SideBarUniqueContainer {
    margin: 50px 140px 0px 10px;
    max-width: 400px;
}

.SideBarSection {
    display: block;
    background-color: white;
    border: 1px solid var(--border);
    margin-top: 20px;
    padding: 0px 10px;

}

/* individual sidebar boxes */

#NoobBox{
    border: 2px solid var(--highlight);
    padding: 0px;
}
    #NoobBox h3{
        font-size: 25px;
        font-weight: bold;
        background: var(--highlight);
        padding: 2px;
        margin: 20px 0px;
        text-align: center;
    }

    #NoobBox p{
        padding: 0px 5px;
    }

#TagBox h3{
    text-align: center;
}

#FGCBox div{
    display: flex;
    justify-content: center;
    align-items: center;
}