/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text but barely, ie. buttons, author name
*/

#Heading{
    background-color: var(--highlight);
}

.TextBody{
    display: flex;
    flex-direction: column;
    text-align: center;
}

    /* ken quotes */

    .TextBody div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    .TextBody img{
        margin-top: 5px;
        height: 50px;
    }

    #kenQuoteBody{
        padding: 0px 10px;
        height: 30px;
        margin: 0px;
        text-align: center;
        border: 1px solid rgba(50,50,50,0.3);
        border-radius: 5px;
    }

.LinkList li {
    display: inline-flex;
    margin: 10px;
}

.LinkList:hover img {
    opacity: 0.5;
    transition: 0.2s;
}

.LinkList img {
    height: 50px;
    border: 1px solid var(--highlight);
    border-radius: 5px;
}

    .LinkList img:hover {
        border: 1px solid var(--userinput);
        opacity: 1;
    }