:root {
    --highlight: orange;
    --highlightsecondary: antiquewhite;
    --secondary: white;
    /* text coloors */
    --text: #3c3c3c;
    --link: darkcyan;
    --userinput: #5abdb9;
    --selection: skyblue;
    --background: whitesmoke;
    /* page specific stuff */
    --border: lightgray;
