/* H1 is the page header.
    H2 is for sections.
    H3 is for titles of things, like player entries, guide names, etc. Typically in searchable boxes.
    H4 is for things that have to stand out of normal text ie. buttons
*/

/* this one is for the player's actual profile page */

#Heading {
    color: #483527;
    background-image: linear-gradient(to bottom right, #ebda66, #dc9471);
    text-align: center;
    font-size: 30px;
}

p {
    font-family: Vollkorn, serif;
}

.sectionTitle{
    text-align: center;
}

/* top of page - player intro */

#playerIntro{
    display: flex;
    flex-direction: column;
}

#playerIntro h1{
    font-size: 35px;
    margin: 0px;
}

#playerIntro p{
    margin: 0px;
}

/* bulk of page - player about*/

#playerMains{

}

.playerAboutParagraphs{
    text-indent: 30px;
}

/* competitive results - player results */

#PlayerResults{
    display: flex;
    flex-direction: column;
}

#PlayerResultsTable{
    align-self: center;
}

/* Other stuff */

#Body {
    margin-left: 50px;
    margin-right: 100px;
}

footer{
    text-align: center;
}